<%= form_with(model: mutator) do |form| %>
  <% if mutator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mutator.errors.count, "error") %> prohibited this mutator from being saved:</h2>

      <ul>
        <% mutator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
