<p style="color: green"><%= notice %></p>

<%= render @player_model_skin_face %>

<div>
  <%= link_to "Edit this player model skin face", edit_player_model_skin_face_path(@player_model_skin_face) %> |
  <%= link_to "Back to player model skin faces", player_model_skin_faces_path %>

  <%= button_to "Destroy this player model skin face", @player_model_skin_face, method: :delete %>
</div>
